type displayfeature_service, app_api_service, system_server_service, service_manager_type;

allow platform_app displayfeature_service:service_manager find;
